<div>
    <div>
        Society management
        <a [routerLink]="['/']" routerLinkActive="selected-section" *ngIf="isAuthDone">Home </a>
        <a [routerLink]="['/login']" routerLinkActive="selected-section">Login</a>
        <a [routerLink]="['/signup']" routerLinkActive="selected-section">Signup </a>
        <a [routerLink]="['/startGame']" routerLinkActive="selected-section">Forget Password</a>
        <a [routerLink]="['/startGame']" routerLinkActive="selected-section">List all vehicles</a>
        <a [routerLink]="['/startGame']" routerLinkActive="selected-section">Add new vehicle</a>
        <a [routerLink]="['/startGame']" routerLinkActive="selected-section">Edit my vehicle</a>
        <a [routerLink]="['/startGame']" routerLinkActive="selected-section">Delete my vehicle</a>
    </div>
    <div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>